body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #003366;
    align-items: center;
}

.navbar .logo {
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0,6s;
}

.navbar a:hover,
.navbar a.active {
    color: #00aaff;
}

/* HERO */
.hero {
    
    padding: 160px 20px;
    text-align: center;
    color: #003366;
}

.hero h2 {
    font-size: 48px;
}


.btn {
    padding: 12px 25px;
    background: #00aaff;
    color: white;
    border-radius: 5px;
    transition: transform 0.7s;
}

.btn:hover {
    transform: scale(1.1);
    color: #c2bebe;
}


/* FADE-IN ANIMATION */
.fade-in {
    animation: fadeIn 2s ease-in-out;
    color: #003366;
}
.opis{
    animation: fadeIn 2s ease-in-out;
    color: #003366;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(0px); }
    to { opacity: 5; transform: translateY(0); }
}
@keyframes opis {from { opacity: 0; transform: translateY(0); }
    to { opacity: 5; transform: translateY(0); }
    
}

/* CONTENT SECTIONS */
.content-section {
    padding: 40px;
}

h2 {
    text-align: center;
}

/* GRID */
.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 20px;
}

.card {
    padding: 30px;
    background: rgb(221, 219, 219);
    border-radius: 8px;
    text-align: center;
}

/* HOVER ANIMATION */

.hover-grow:hover {
    transform: scale(1.05);
}

/* GALLERY */
.gallery-grid img {
    width: 100%;
    border-radius: 10px;
}

/* CONTACT FORM */
.contact-form {
    display: grid;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .contact-form {
        width: 90%;
    }
}
.foot{
    text-align: center;
}
